<html>
<head>
  <title>Google Drive Picker - Test Page</title>
  <link rel="stylesheet" href="../../components/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-app="testapp" ng-controller="mainController">

<div id="google-drive-picker" google-drive-picker></div>

<script type="text/javascript" src="../../components/angular/angular.js"></script>
<!-- <script type="text/javascript" src="//apis.google.com/js/client.js"></script> -->
<script type="text/javascript" src="../gapi-mock.js"></script>
<script type="text/javascript" src="../../components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="../../dist/js/google-drive-picker.js"></script>
<script type="text/javascript" src="../../src/angular/dtv-google-drive-picker.js"></script>
<script type="text/javascript">
angular.module('testapp', ['risevision.widget.common.google-drive-picker'])
  .controller("mainController", ["$scope", "$window", function ($scope, $window) {
    $scope.$on("picked", function (event, files) {
      $scope.filesPicked = files;
    });

    $scope.$on("cancel", function () {
      $scope.cancelled = true;
    });

    //methods that simuates file actions _after_ dialog is opened
    $scope.simulatePick = function () {
      $window.pickFiles(["test_file", "test_file2", "test_file3"]);
    };

    $scope.simulateCancel = function () {
      $window.dialogCancel();
    }

  }]);
</script>
<div id="files-picked" ng-repeat="file in filesPicked">
  <input class="file" ng-model="file" />
</div>
<input type="checkbox" id="cancelled" ng-model="cancelled" />
<button id="simulate-cancel" ng-click="simulateCancel()">Simulate Cancel</button>
<button id="simulate-pick" ng-click="simulatePick()">Simulate File Pick</button>
</body>
</html>
